.flex-container {
  display: flex;
  height: 640px;
  width: 640px;
}

.rank {
  height: 80px;
  width: 640px;
  margin-top: -4px;
}

.tile {
  height: 80px;
  width: 80px;
}

div {
  display: inline-flex;
  padding: none;
}

#board {
  display: inline-block;
  width: 640px;
  height: 640px;
}