
/*
     Authors:
        Shreya Karnati
        Greg Carter
        Amanda Holt
    Date:
        2020.07.08

    + this will reset the base layout 
    for the site pages.
*/


html, head, body, 
header, nav, main, aside, footer,
ul, li, a, script, p, 
h1, h2, h3, h4, h5, {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}